ENVIRONMENT=development
PORT=4008
DATABASE_URL="postgresql://devUser:devPass@mybandnow-database:5432/devDB?schema=public"
RABBITMQ_VERSION=4.1.1-management-alpine
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SECURE=false
RABBITMQ_HOSTNAME=mybandnow-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE_NAME=mybandnow.events
RABBITMQ_MAX_RETRIES=5
RABBITMQ_RETRY_TTL=3000
KLODING_INTERNAL_PRIVATE_KEY_BASE64=dGVzdA==
KLODING_INTERNAL_PUBLIC_KEY_BASE64=dGVzdA==
SENTRY_DSN=
JWT_SECRET=supersecret-dev-supersecret-dev-
JWT_SECRET=supersecret-test-supersecret-test-
