ENVIRONMENT=development
PORT=4008
DATABASE_URL="postgresql://devUser:devPass@mybandnow-database:5432/devDB?schema=public"
RABBITMQ_VERSION=4.1.1-management-alpine
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SECURE=false
RABBITMQ_HOSTNAME=mybandnow-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE_NAME=mybandnow.events
RABBITMQ_MAX_RETRIES=5
RABBITMQ_RETRY_TTL=3000
KEYCLOAK_ADMIN_USER=change-me
KEYCLOAK_ADMIN_PASS=change-me
KEYCLOAK_ORIGIN=http://mybandnow-keycloak:80
KEYCLOAK_REALM=mybandnow
KEYCLOAK_AUDIENCE=change-me
TEST_KEYCLOAK_USER_PASSWORD=change-me
KLODING_INTERNAL_PRIVATE_KEY_BASE64=<base64-private-key>
KLODING_INTERNAL_PUBLIC_KEY_BASE64=<base64-public-key>
SENTRY_DSN=
KLODING_KEYCLOAK_PUBLIC_KEY_BASE64=